*{
    margin: 0;
    padding:0;
}
body{
    font-size: 18px;
    font-family: "微软雅黑";
    background-color: #f2f2f2;
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
}
/*Brand组件的css*/
.brandBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
    height: 80px;
    background-color: white;
}
.item{
    /*width: 10px;*/
    /*height: 10px;*/
    background-color: aqua;
}

.brandIcon{
    /* background-color: red; */
    /*padding: 10px;*/
}
.brandIcon img{
    width: 30px;
    height: 30px;
}
.brandIcon span{
    font-size: 30px;
    color: #000;
    /* text-align: center; */
    vertical-align: bottom;
    margin-left: 15px;
}

/*Classify*/
.classifyIcon{
/*padding: 30px;*/
}
.classifyIcon img{
    width: 120px;
    height: 120px;
}
.classifyIcon p{
    font-size: 30px;
    text-align: center;
}
.classifyBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    background-color: white;
}
/*Block*/
.block{
    width: 100%;
    height: 253px;
    margin-top: 10px;
}
.block img{
    background-size: cover;
    width: 100%;
    height: 100%;
}

/*Production*/
.productionIcon{
    width: 300px;
    height: 273px;
    border:1px solid gray;
    background: url("../imgs/p_bg.png") no-repeat;
    background-position: 40px 10px;
    font-size: 18px;
}

.space{
    width: 300px;
    height: 273px;
    border:1px solid transparent;
    /*background: url("../imgs/p_bg.png") no-repeat;*/
    background-position: left;
    font-size: 18px;
}
.pBox{
    /*display: flex;*/
    /*justify-content: center;*/
}
.pBox img{
    width: 200px;
    height: 120px;
    padding-left: 40px;
    /* margin: 0 auto; */
    margin-top: 40px;

}
.pDetail{
    font-size: 22px;
    text-align: center;
}
.priceBox{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}
.minPrice{
    display: flex;
    justify-content: center;
}
.fakePriceChild{
    text-decoration: line-through;
    color: grey;
}
.priceChild{
    color: red;
}
.minPrice span{
    width: 150px;
    border:1px red solid;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    text-align: center;
}

.pRow{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.AllProductionBox{
    background-color: white;
    width: 100%;
}

/*BottomNav*/
.bBox{
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    background-color: #e5e5e5;
    width: 100%;
}
.bBox a{
    width: 150px;
    height: 98px;
    text-align: center;
}
.bottomItems{
    padding-top: 10px;
}

/*Suspension*/
.SusWrap{
    width: 122px ;
    height: 324px;
    position: fixed;
    top:0;
    left: 20px;
    background-color: #989c9f;
    border-radius: 0 0 60px 60px;
    z-index: 300;
    opacity: 0.8;
    text-align: center;
    font-size: 20px;
    color: white;
}
.SusWrap img{
    width: 105px;
    height: 105px;
}
.SusCircle,.SusGradeCircle{
    width: 26px;
    height: 26px;
    border: 5px solid white;
    border-radius: 20px;
    background-color: #fcb606;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;

}
.SusGradeCircle{
    background-color: #83a4b2;
}
.SusCoin,.SusGrade{
    font-size: 18px;
    color: black;
    width: 109px;
    height: 17px;
    position: relative;
    background-color: white;
    border-radius: 9px;
    left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.SusCoinChild,.SusGradeChild{
    width: 80px;
    height: 13px;
    background-color: #f3d400;
    border-radius: 6px 0 0 6px;
    position: absolute;
    top: 2px;
    left: 4px;
    line-height: 12px;
}
.SusGradeChild{
    background-color: #ef4036;
}
.SusDetail{
    font-size: 20px;
    color: red;
}

/*ShowYOU*/
.showIcon{
    width: 300px;
    height: 273px;
    border:1px solid gray;
    /*background: url("../imgs/p_bg.png") no-repeat;*/
    /*background-position: 40px 10px;*/
    font-size: 18px;
}
.showBox img {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    display: inherit;
}
.showEnter{
    width: 150px;
    height: 32px;
    background-color: #0f5ca8;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    line-height: 32px;
}
.showBanner{
    width: 100%;
    height: 44px;
    position: relative;
}
.showBanner img{
    margin: 0 auto;
    display: block;
    padding-top: 20px;
}
.showBanner span{
    /* float: right; */
    width: 50px;
    height: 34px;
    position: absolute;
    right: 55px;
    bottom: -10px;
}