*{
    margin: 0;
    padding:0;
}
body{
    font-size: 18px;
    font-family: "微软雅黑";
    background-color: #f2f2f2;
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
}
/*Brand组件的css*/
.brandBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    height: 80px;
    background-color: white;
}
.item{
    /*width: 10px;*/
    /*height: 10px;*/
    background-color: aqua;
}

.brandIcon{
    /* background-color: red; */
    padding: 10px;
}
.brandIcon img{
    width: 30px;
    height: 30px;
}
.brandIcon span{
    font-size: 30px;
    color: #000;
    /* text-align: center; */
    vertical-align: bottom;
    margin-left: 15px;
}

/*Classify*/
.classifyIcon{
padding: 30px;
}
.classifyIcon img{
    width: 120px;
    height: 120px;
}
.classifyIcon p{
    font-size: 30px;
    text-align: center;
}
.classifyBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    background-color: white;
}
/*Block*/
.block{
    width: 100%;
    height: 253px;
    margin-top: 10px;
}
.block img{
    background-size: cover;
    width: 100%;
    height: 100%;
}